node_modules/
build/
/.idea/modules.xml
/.idea/uniswap-governance.iml
/.idea/vcs.xml
/.idea/jsLibraryMappings.xml
/deploy-scripts/secretMnemonic.txt
/deploy-scripts/deploy
/deploy-scripts/mainnet-deploy
/json-input.json
